/* 좋아요 버튼 */
.like-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #000000; /* 좋아요 빨간색 */
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    height: 10px;
    width: 300px;
}

.like-button:hover {
    background-color: #e84141; /* hover 시 약간 어두운 빨간색 */
}
