spring:
  application:
    name: mvp

  profiles:
    group:
      development:
        - "dev"
        - "private"
      deployment:
        - "prod"
        - "private"
    active: deployment

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# 로깅 관련 설정은 logback-spring-server.xml 에서 세밀하게 관리
#logging:
#  level:
#    root: info
#    org.springframework.security.web: trace
#  file: # 스프링 서버에서 남긴 이 로그를 파일에 저장
#    name: /var/log/spring-logs/spring-server.log