<!--Log back 을 이용해 스프링 서버에서 기록되는 로그를 관리 (application.yml 보다 정밀하게 제어)-->

<configuration>

    <!-- 콘솔 로그 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern> <!-- 콘솔 출력 형식 -->
        </encoder>
    </appender>

    <!-- 로그 파일 경로 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/spring-logs/spring-server.log</file>  <!-- 로그 파일 저장 경로 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern> <!-- 로그 형식 -->
        </encoder>
    </appender>

    <!-- 로그 레벨 설정 -->
    <root level="TRACE">
        <appender-ref ref="CONSOLE" />  <!-- 콘솔에 로그 출력 -->
        <appender-ref ref="FILE" />     <!-- 파일에 로그 기록 -->
    </root>

    <!-- 특정 패키지에 대한 로그 레벨 설정도 가능 -->
<!--    <logger name="com.idealstudy.mvp" level="INFO">-->
<!--        <appender-ref ref="CONSOLE" />  &lt;!&ndash; 콘솔에도 출력 &ndash;&gt;-->
<!--        <appender-ref ref="FILE" />     &lt;!&ndash; 파일에도 기록 &ndash;&gt;-->
<!--    </logger>-->

</configuration>