/* 사이드바 + 페이지 */
.page-common {
  display: flex; /* 사이드바와 페이지 콘텐츠를 가로로 배치 */
  margin-left : 20px; /* 화면 왼쪽에서 여백 추가 */
  margin-top: 20px; /* 헤더 높이에서 여백 추가 */
  margin-bottom: 20px; /* 푸터 높이에서 여백 추가 */
  padding: 0px;
  height: calc(100vh - 60px); /* 헤더 높이를 제외한 높이만큼 */
  overflow: hidden; /* 페이지 콘텐츠가 너무 길어질 경우 스크롤 방지 */
}

/* 페이지 */
.page-content {
  flex-grow: 1;
  padding-left: 20px; /* 콘텐츠와 사이드바 간 여백 */
  overflow-y: auto; /* 페이지 콘텐츠가 길어지면 스크롤 가능 */
  background-color: #fff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
