/* 모든 페이지 공통속성 */
.page-common {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: #f4f4f4; 예시로 배경색 추가 */
  /* min-height: calc(100vh - 120px); Header와 Footer를 제외한 높이로 설정 */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
